/* MainSection.css */
.main-section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    position: relative;
    overflow: hidden;
  }
  
  .main-content {
    display: flex;
    gap: 50px;
    font-size: 4rem;
    font-weight: bold;
    color: white;
    transition: transform 0.5s ease-in-out;
  }
  